.list_title {
    color: var(--color-primary-dark);
    font-weight: bold;
}

.list_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 768px) {
    .list_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .list_list {
        grid-template-columns: 1fr;
    }
}